<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0, user-scalable=no, initial-scale=1.0">  
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/new_purchase.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/new_purchase.js"></script>
    <title>Add New Purchase</title>
</head>
<body>
    <button type="button" class="btn btn-dark back-btn" onclick="javascript:window.location = '/purchases/';">Back</button>
    <h3 class="header text-lg-center">+ New Purchase</h3>
    <div class="container">
        {%if messages%}
            <div class="alert-info" id="message">
                {%for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form action="" name ="new_purchase" class="form" style="position: relative; top : 50px;" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button type="submit" id = 'create-customer' class="btn btn-dark" onclick="show_value();">Create</button>
        </form>
    </div>
    <script>
        var message_content = document.getElementById('message')
        setTimeout(() => {
            message_content.style.display = 'none';
        }, 5000);
    </script>
</body>
</html>